.home .container{
    display: grid;
    grid-template-columns: repeat(2, calc(50% - 10px));
    gap: 20px;
    align-content: center center;
    margin-top: 50px;
    max-height: 100vh;
}

.tile{
    position: relative;
    font-size: 1em;
    padding-block: calc(50% - 30px);
    padding-inline: 20px;
    background-color: var(--background-color);
    color: var(--primary-color);
    border: 1px solid var(--secondary-color);
    border-radius: 20px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
}

.home .container .budget-btn{
    grid-column: 1 / 3;
    padding-block: 10%;
    color: var(--background-color);
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    font-weight: 700;
    font-size: 1.5em;
}

.home .container .goals-btn{
    grid-column: 1 / 3;
    padding-block: 10%;
    /* background-color: var(--income-secondary-color); */
    color: var(--income-secondary-color);
    border-color: var(--income-secondary-color);
    font-weight: 700;
    font-size: 1.25em;
}

.home .container .alt-tile{
    background-color: var(--nav-light);
}