.register .form{
    display: grid;
    grid-template-columns: calc(66% - 5px) calc(33% - 3px);
    gap: 10px;
}

.register .form :nth-child(3),
.register .form :nth-child(4),
.register .form :nth-child(5){
    grid-column: 1 / 3;
}

.error{
    background-color: var(--expense-primary-color);
}