.mortgage-calculator h3 {
    color: var(--secondary-color);
    background-color: var(--background-color)!important;
    margin-bottom: 20px;
    
}

.mortgagePayment {
    margin-top: 40px;
    color: var(--primary-color);
    font-size: 1.4rem;
}
